# ---- General ----
*.log
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

*.pot
*.mo
*.orig
*.cover
*.py,cover
*.py[cod]
__pycache__/
.Python

# ---- Environment ----
.env
.env.*
env/
.venv/
venv/
backend/.env
backend/.venv/
backend/venv/

# ---- macOS ----
.DS_Store

# ---- VSCode ----
.vscode/

# ---- Node (Frontend) ----
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.env.local
frontend/.DS_Store

# ---- Python (Backend) ----
backend/db.sqlite3
backend/staticfiles/
backend/media/
backend/.mypy_cache/
backend/.pytest_cache/

# ---- Django ----
*/__pycache__/
__pycache__/

# ---- Media Files ----
media/
*/media/

# ---- Build files ----
build/
dist/

# ---- Coverage ----
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# ---- IDE ----
.idea/
*.sublime-project
*.sublime-workspace
