/* Tailwind base styles */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  @apply font-sans bg-gray-100 text-gray-800;
}

.min-h-screen {
  @apply min-h-screen;
}

.flex {
  @apply flex;
}

.items-center {
  @apply items-center;
}

.justify-center {
  @apply justify-center;
}

.justify-between {
  @apply justify-between;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

